# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# exclude history
history

# env files
.env*

# dependencies
/node_modules

# production
/dist

# debug
npm-debug.log*

# typescript
*.tsbuildinfo

# wxt
stats.html
stats-*.json
.wxt
web-ext.config.ts
